.names {
  position: absolute;
  left : 50%;
  width : 50%;
}
.chat {
  position: absolute;
  right : 50%;
  width : 50%;

}

.names .title {
  font-weight: bold;
}

.names .ul {
  display: none;
  margin: 0;
}

.names-li {
  padding-bottom: 22px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.names .btn-kill {
  margin-left: 10px;
}
