.zoo {
  /*position: absolute;*/
  /*left : 50%;
  width: 50%;*/
}
.animalList{
  position: absolute;
  left : 50%;
  width: 50%;
}



.animalList .ul {
  display: none;
  margin: 0;

}

.zoo .animalList .title {
  font-weight: bold;

}



.animalsList .li {
  padding-bottom: 22px;
  font-size: 16px;
}

.chat .chat-ul {
  display: none;
  margin: 0;

}


.chat .title {
  font-weight: bold;
  cursor: pointer;
}

.chat .div{

}
