.menu .ul {
  display: none;
  margin: 0;

}

.chat {
  position: absolute;
  width: 50%;
  left: 50%;
}

.menu .title {
  font-weight: bold;
  cursor: pointer;
}

.menu .btn-kill {

}

.menu .li {
  padding-bottom: 22px;
  font-size: 16px;
}


.chat .ul {
  display: none;
  margin: 0;

}

.chat .title {
  font-weight: bold;
  cursor: pointer;
}

.chat .btn-kill {

}

.chat .li {
  padding-bottom: 22px;
  font-size: 16px;
}
